@font-face {
    font-family: "Raleway";
    font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  
  font-display: swap;
  }

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
  }
 
  html {
    height: 100%;
  }

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
  }

  .page-header {
    color: #000000;
    background-color: #ffffff;
  }

  /*ставлю хедер по центру*/
  
  .page-header-container {
    margin: 0 auto;
    width: 1440px;
}
  
.navigation {
    display: flex;
    width: 1440px;
    margin: 0 auto;
  }

  .action-list {
    margin: 0;
    padding: 0;
    width: 265px;
  }

.navigation-list {
    margin: 0;
    padding: 0;
    width: 731px;
  }

  .action-link {
    text-align: center;
    color:  #000000;
    text-decoration: none;
    text-transform: none;
  }

.page-container {
    width: 1440px;
  margin: 0 auto;
}

.main-container {
    flex-grow: 1;
  }

  /*слайдер с квадрокоптером*/
  
.index-columns {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    }
    
    .slider-box {
        width: 560px;
    }

    .advantages-box {
        width: 560px;
    }

    .characteristics {
    display: flex;
    justify-content: space-between;
    width: 307px;
    flex-wrap: wrap;
}

.advert-text {
    display: flex;
    width: 560px;
}
  

/* расположение иконок */

.products-icons-list {
    display: flex;
  justify-content: space-between;
    margin: 0;
    padding: 0;
    text-align: center;
}

.products-icons {
    width: 1160px;
    margin: 0 auto;

}
.product-icon {
    width: 160px;
}

.navigation-link {
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;
text-decoration: none;
}

.slogan {
    display: flex;
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 50px;
line-height: 50px;
color: #000000;
}

.more-info {
    display: flex;
    width: 210px;
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;
background-color: #ffc700;
}

.meters {
    display: flex;
    width: 102px;
    font-size: 36px;
line-height: 30px;
color: #000000;
}

.explanation {
font-size: 16px;
line-height: 30px;
}

.product-icon-link {
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 24px;
letter-spacing: -0.02em;
color: #000000;
text-decoration: none;
}

.main-index h3 {
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 50px;
line-height: 50px;
color: #000000;
}

/* delivery */

.delivery-box {
    display: flex;
    justify-content: space-around;
   width: 1160px;
   margin: 0 140px;
}

.delivery-link-box {
    width: 280px;
   }
.delivery-text {
    
    width: 452px;
    }

.navigation-link-delivery {
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #FFE17F;
background-color: #000000;
text-decoration: none;
}

.navigation-link-service {
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;
background-color: #ffc700;
text-decoration: none;
}



.more-info-delivery {
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
background-color: #ebebeb;

}
.delivery {
    background-color: #ebebeb;
   width: 1440px;
}

/* about us and contacts */

.information-about-firm-box {
    display: flex;
    justify-content: space-around;
    width: 1160px;
}

.about-us-box {
    width: 520px;
}

.contacts-box {
    width: 532px;
}


.subscribe-box {
    display: flex;
    justify-content: space-around;
    width: 1160px;
}

.newsletter-box {
    width: 348px;
}

.newsletter-text-box {
    width: 560px;
}

.button-about-us {
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;
background-color: #ffc700;
text-decoration: none;
}

.delivery-firm-list {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
    }

    .shop-name-titel {
        font-weight: 700;
font-size: 24px;
line-height: 30px;
color: #444444;
}

.contacts-address-text {
    font-style: normal;
}

.contacts-phone {
    font-style: normal;
    color: #000000;
}
.contacts-subtitle {
    font-weight: 700;
font-size: 24px;
line-height: 30px;
}

.newsletter {
    background-color: #ebebeb;
}

.newsletter-call {
    font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 50px;
background-color: #ebebeb;
}

.button-text-us {
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;
background-color: #ffc700;
text-decoration: none;
}

/* footer index */

.page-footer-box {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin: 0 auto;
  }

  .contacts-footer-box {
    display: flex;
    width: 239px;
   }

   .footer-nav-box {
    width: 444px;
    margin: 0;
    padding: 0;

   }

   .phone-html-box {
    display: flex;
    width: 174px;
    flex-wrap: wrap;

   }

.page-footer {
    background-color: #444444;
    color: #ffffff;
}

.footer-contacts-address-text {
    font-style: normal;
font-size: 16px;
line-height: 20px;
color: #ffffff;
background-color: #444444;
}

.footer-navigation-link {
    font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #FFFFFF;
text-decoration: none;
}

.footer-contacts-phone {
        font-style: normal;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
}

.button-social-item {
    color: #FFFFFF;
    text-decoration: none;
}

/* catalog */

.catalog-products-box {
    display: flex;
    width: 1440px;
}

.catalog-filter-box {
    width: 320px;
}

.catalog-sorting-box{
    width: 840px;
}

.product-card {
    width: 360px;
}
.page-title {
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 50px;
line-height: 50px;
color: #000000;
}

.breadcrumbs-link {
    font-size: 16px;
line-height: 20px;
color: #000000;
text-decoration: none;
}

.catalog-filter-title {
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;
}

.catalog-filter-subtitle {
    font-weight: 700;
font-size: 18px;
line-height: 20px;
letter-spacing: -0.02em;
color: #000000;
}

.control-input {
    font-size: 16px;
line-height: 20px;
color: #000000;
}

.button-catalog-show {
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;
background-color: #ffc700;
text-decoration: none;
}

.catalog-sorting {
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;
}

.popular {
    font-size: 18px;
line-height: 30px;
color: #000000;
}

.product-card-link {
    font-weight: 700;
font-size: 18px;
line-height: 20px;
text-decoration: none;
color: #000000;
}

.product-card-price {
    font-size: 18px;
line-height: 21px;
text-align: right;
color: #000000;
}

.button-pagination-show-more {
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
}

.pagination-back {
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #444444;
opacity: 0.3;
}

.pagination-link {
    font-size: 16px;
line-height: 20px;
text-align: center;
color: #444444;
opacity: 0.3;
text-decoration: none;
}

.pagination-next {
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;
}

.pagination {
    background-color: #EBEBEB;
}

