@font-face {
    font-family: "Raleway";
    font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  
  font-display: swap;
  }

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
  }
 
  html {
    height: 100%;
  }

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .page-header {
    color: #000000;
    background-color: #ffffff;
  }

  /*ставлю хедер по центру*/
  
  .page-header-container {
    margin: 0 auto;
    width: 1440px;
}
  
.page-header-logo {
    margin: 20px 1095px 30px 200px;
    width: 145px;
}

.navigation-header {
    display: flex;
    width: 1440px;
    margin: 0 auto;
  }

  .action-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    
  }

  .search-form {
    width: 357px;

  }

  .button-search {
    width: 160px;
    margin-right: 26px;
    
   
  }

  .enter {
    width: 81px;
    margin-right: 150px;
    }

  .action-list-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1170px;
    margin-left: 200px;
   
   }
    .search-form-container {
        display: flex;
    }

    .action-link {
        display: block;
       padding: 5px 22px;
        text-align: center;
        color:  #000000;
        text-decoration: none;
        text-transform: none;
      }

     
.navigation-list {
    display: flex;
    flex-wrap: wrap;
   padding: 0;
   margin-left: 200px;
   margin-bottom: 0px;
   max-width: 1170px;
    list-style-type: none;
    
    }

    .catalog {
   margin-right: 276px;
    width: 293px;
    padding-left: 0;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 7px;
}

.delivery {
    width: 125px;
    padding-left: 0;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 47px;
   
}

.guarantee {
    width: 121px;
    padding-left: 0;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 45px;
}

.contacts {
    width: 128px;
    padding-left: 0;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 0px;

}


  .navigation-link {
    display: block;
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;
text-decoration: none;
}

  

.page-container {
    width: 1440px;
  margin: 0 auto;
}

.main-container {
    flex-grow: 1;
  }

  /*слайдер с квадрокоптером*/
  
.index-columns {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    }
    
    .slider-container {
        width: 560px;
        margin-top: 0px;
        margin-bottom: 70px;
        margin-left: 140px;
    }

    .slider-image {
        width: 560px;
    
    }

    .advantages-container {
        width: 560px;
        margin-top: 75px;
        margin-right: 140px;
        margin-bottom: 38px;
        margin-left: 40px;
       
    }

    .characteristics {
    display: flex;
    justify-content: flex-start;
    width: 307px;
    flex-wrap: wrap;
}

.slogan {
    display: flex;
    margin-bottom: 29px;
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 50px;
line-height: 50px;
color: #000000;
}

.advert-text {
    display: flex;
    width: 560px;
    margin-bottom: 50px;
}

.more-info {
    display: flex;
    width: 210px;
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;
background-color: #ffc700;
}

.meters-800 {
    display: flex;
    padding-right: 38px;
    margin-top: 60px;
    margin-bottom: 12px;
    width: 102px;
    font-size: 36px;
line-height: 30px;
color: #000000;
}

.meters-50 {
    display: flex;
    margin-left: 20px;
    margin-top: 60px;
    margin-bottom: 12px;
    width: 102px;
    font-size: 36px;
line-height: 30px;
color: #000000;
}

.explanation {
    margin-top: 0;
font-size: 16px;
line-height: 30px;
}

.radius {
    margin-left: 20px;
}
  

/* расположение иконок */

.products-icons-list {
    display: flex;
  justify-content: space-between;
    margin-bottom: 70px;
    padding: 0;
    text-align: start;
    list-style-type: none;
}


.products-icons {
    width: 1160px;
    margin: 0 auto;

}
.product-icon {
    width: 160px;
}

.product-icon-link {
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 24px;
letter-spacing: -0.02em;
color: #000000;
text-decoration: none;
}

.main-index h3 {
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 50px;
line-height: 50px;
color: #000000;
}

/* delivery */

.delivery-container {
    display: flex;
    justify-content: space-around;
   width: 1160px;
   padding: 0 140px 72px 140px;

}

.navigation-delivery-list {
    padding: 0;
    list-style-type: none;
    }


.delivery-link-container {
    width: 280px;
    
   
   }
.delivery-text {
    width: 452px;
    }

    .delivery-rare-product {
        margin: 70px 140px;
        padding: 40px 125px;
        width: 1160px;

    }

.navigation-link-delivery {
    display: block;
    width: 160px;
    padding: 10px 120px 10px 0;
    margin-bottom: 35px;
   font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #FFE17F;
background-color: #000000;
text-decoration: none;
}

.navigation-link-guarantee {
    display: block;
    width: 160px;
    padding: 10px 4px;
    margin-bottom: 35px;

    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;
background-color: #ffc700;
text-decoration: none;
}

.navigation-link-credit {
    display: block;
    width: 160px;
    padding: 10px 4px;
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;
background-color: #ffc700;
text-decoration: none;

}

.more-info-delivery {
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
background-color: #ebebeb;

}
.delivery-block {
    background-color: #ebebeb;
   width: 1440px;
}

/* about us and contacts */

.information-about-firm-container {
    display: flex;
   margin-left: 140px;
   margin-right: 140px;
   margin-bottom: 70px;
    width: 1160px;
  
}

.about-us-container {
    width: 520px;
    margin-right: 108px;
}

.contacts-container {
    width: 532px;
}


.subscribe-container {
    display: flex;
    justify-content: space-around;
    width: 1160px;
}

.newsletter-container {
    width: 348px;
}

.newsletter-text-container {
    width: 560px;
}

.button-about-us {
   
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;
background-color: #ffc700;
text-decoration: none;
}

.delivery-firm-list {
    padding: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
    color: #000000;
    }

    .shop-name-titel {
        font-weight: 700;
font-size: 24px;
line-height: 30px;
color: #444444;
}

.contacts-address-text {
    font-style: normal;
    margin-bottom: 0;
}

.contacts-phone {
    
    font-style: normal;
    color: #000000;
}
.contacts-subtitle {
    font-weight: 700;
font-size: 24px;
line-height: 30px;
}

.contacts-schedule {
    padding: 0;
    list-style-type: none;
    margin-bottom: 30px;
}

.newsletter {
    background-color: #ebebeb;
}

.newsletter-call {
    display: block;
    margin: 64px 945px 257px 147px;
    width: 348px;
    font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 50px;
background-color: #ebebeb;
}

.newsletter-text {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin: 74px 133px 257px 252px;
}
.newsletter-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
    margin-left: 141px;
}

.button-text-us {

    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;
background-color: #ffc700;
text-decoration: none;
}

/* footer index */

.page-footer-container {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin: 0 auto;
  }

  .contacts-footer-container {
    display: flex;
    width: 239px;
    margin-top: 62px;
   }

   .footer-nav-container {
    width: 444px;
    margin: 0;
    padding: 0;

   }

   .phone-html-container {
    display: flex;
    width: 174px;
    flex-wrap: wrap;
    margin-top: 140px;

   }

.page-footer {
    background-color: #444444;
    color: #ffffff;
}

.footer-contacts-address-text {
    font-style: normal;
font-size: 16px;
line-height: 20px;
color: #ffffff;
background-color: #444444;
}

.footer-navigation-list {
    display: flex;
    justify-content: space-between;
margin-top: 137px;
margin-bottom: 62px;
padding: 0;
    list-style-type: none;
}

.footer-navigation-link {
    display: block;
    font-family: "Raleway", sans-serif;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #FFFFFF;
text-decoration: none;
}
.footer-social-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 61px;
    padding: 0;
    list-style-type: none;
    
}
.footer-contacts-phone {
        font-style: normal;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
}

.button-social-item {
    color: #FFFFFF;
    text-decoration: none;
}

/* catalog */

.catalog-products-container {
    display: flex;
    width: 1440px;
}

.catalog-filter-container {
    width: 320px;
}

.catalog-sorting-container {
    width: 840px;
}

.product-card {
    width: 360px;
}
.page-title {
    margin-top: 70px ;
    margin-left: 200px;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 50px;
line-height: 50px;
color: #000000;
}

.breadcrumbs {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-left: 200px;
    padding: 0;
    width: 450px;
    
}

.breadcrumbs-link {
    font-size: 16px;
line-height: 20px;
color: #000000;
text-decoration: none;
}

.catalog-filter-title {
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;
}

.catalog-filter-subtitle {
    font-weight: 700;
font-size: 18px;
line-height: 20px;
letter-spacing: -0.02em;
color: #000000;
}

.control-input {
    font-size: 16px;
line-height: 20px;
color: #000000;
}

.button-catalog-show {
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;
background-color: #ffc700;
text-decoration: none;
}


.catalog-sorting {
    padding-left: 40px;
    padding-right: 206px;
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;
}

.value-sorting {
    display: flex;
   
   width: 840px;
    margin-left: 40px;
    margin-right: 446px;
}
.button-right {
    margin-left: 206px;
    padding: 10px;
    border: #F0F0F0  solid;    
}

.button-left {
    
    padding: 10px;
    border: #F0F0F0 solid; 

}

.popular {
    
    font-size: 18px;
line-height: 30px;
color: #000000;
}
.product-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.product-card-link {
    font-weight: 700;
font-size: 18px;
line-height: 20px;
text-decoration: none;
color: #000000;
}

.product-card-price {
    font-size: 18px;
line-height: 21px;
text-align: right;
color: #000000;
}

.button-pagination-show-more {
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.2em;
text-transform: uppercase;
}

.pagination-back {
    display: block;
    
    margin-right: 170px;
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #444444;
opacity: 0.3;
}



.pagination-link {
   

    font-size: 16px;
line-height: 20px;
text-align: center;
color: #444444;
opacity: 0.3;
text-decoration: none;
}

.pagination-next {
    display: block;
    margin-left: 145px;
    font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 21px;
display: flex;
align-items: center;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #000000;
}

.pagination-item:not(:last-child) {
    margin-right: 15px;
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    padding: 16px 25px;
    margin-top: 44px;
    margin-bottom: 78px;
    list-style-type: none;
    background-color: #EBEBEB;
}

